.main-page-container {
    text-align: center; 
    padding: 20px;
  }
  
  .main-page-container h1,
  .main-page-container h2 {
    margin-bottom: 20px; 
  }
  
  .main-page-container form,
  .main-page-container table {
    margin: 0 auto; 
    max-width: 800px;
  }
  
